"*":
  core:
    disabledPackages: [
      "tool-bar"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 18
  "exception-reporting":
    userId: "df5cfffc-107c-54d2-9a25-6ac143f5cfee"
  "file-icons":
    coloured: false
  "linter-ui-default":
    panelHeight: 69
    useBusySignal: false
  minimap: {}
  "tidal-autocode":
samples: "fdjks098765rfgh bd:4 lfjl"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
